body {
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main {
  background-color: #9eadbd;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%233a4856' fill-opacity='0.26'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo {
  padding: 10px 10px 2px 10px;
  width: 320px;
}

.slogan {
  padding: 0px 30px 0px 10px;
  margin: 0px;
}

.services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.service {
  background-color: whitesmoke;
  width: 40vw;
  min-width: 340px;
  border-left: 6px solid #8f621a;
  border-radius: 3px;
  padding: 10px;
  margin: 30px 5px 0px 5px;
  box-shadow: 2px 2px 8px;
}

.service-header {
  display: flex;
  align-items: center;
}

.service-header :nth-child(2) {
  border-bottom: 2px solid #8f621a;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-top: 20px;
}

.tag {
  padding: 5px 15px 5px 15px;
  margin: 0px 2px 0px 2px;
  border-radius: 3px;
  color: white;
}

.tag:nth-child(odd) {
  background: linear-gradient(90deg, #c9954c 0%, #8f621a 100%);
}

.tag:nth-child(even) {
  background: linear-gradient(270deg, #22a7f0 0%, #6995bb 100%);
}

table {
  margin: 20px auto 20px auto;
  border-collapse: separate;
}

th {
  padding: 1vw 2vw 1vw 2vw;
  background-color: #3a4856;
  color: whitesmoke;
}

th:first-child {
  border-top-left-radius: 4px;
}

th:last-child {
  border-top-right-radius: 4px;
}

td:first-child {
  border-left: 3px solid #22a7f0;
}

tr:hover {
  background-color: #9eadbd;
}

td {
  padding: 1vw;
  border-bottom: 1px solid #9eadbd;
}

.price-by-sqft {
  margin-left: 20px;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  border-left: 3px solid #22a7f0;
  box-shadow: 2px 2px 2px;
}

.price-by-sqft:hover {
  background-color: #9eadbd;
}

.other-service {
  background-color: whitesmoke;
  width: 80vw;
  border-left: 6px solid #8f621a;
  border-radius: 3px;
  padding: 20px;
  margin: 30px auto 20px auto;
  box-shadow: 2px 2px 4px;
}

.other-service :nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ball {
  margin: 0px 10px 0px 10px;
  background-color: #22a7f0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  margin: auto;
}

.number {
  border-bottom: 2px solid #8f621a;
}

.bracket {
  color: #22a7f0;
}

.contact-form {
  width: 50vw;
  min-width: 340px;
  border-left: 6px solid #8f621a;
  border-radius: 3px;
  padding: 10px;
  margin: 30px 5px 30px 5px;
  box-shadow: 2px 2px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}

.inputs-and-logo {
  display: flex;
  flex-direction: row;
}

.logo-small {
  width: 20vw;
  height: 10vw;
  margin: 2vw 2vw 0 0;
}

.inputs {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.email-us {
  border-bottom: 2px solid #8f621a;
}

.message {
  margin: 20px 0px 20px 0px;
}

textarea {
  border-left: 3px solid #22a7f0;
  border-radius: 4px;
  height: 160px;
  width: 100%;
}

textarea:focus {
  outline: none;
}

input {
  border-radius: 3px;
  margin: 10px 0 10px 0;
  padding: 4px;
  width: 20vw;
}

.send {
  align-self: flex-end;
  width: 10%;
  padding: 4px;
  border-radius: 10px;
  border: none;
  background-color: #22a7f0;
  margin: 0 3vw 10px 0;
  color: white;
}

.response {
  margin: 20vw auto 20vw auto;
  min-width: 300px;
  width: 50vw;
  height: 5vw;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2vw;
}

.success {
  background-color: #22a7f0;
}

.failure {
  background-color: rgb(177, 42, 42);
}
